.statistics-container {
    display: flex;  
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    max-width: 800px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 15px;
}

.statistics-container-time {
    display: flex;  
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 15px;
    align-items: center;
}

.checkbox-wrapper-10.visibles .tgl + .tgl-btn {
    cursor: pointer;
    opacity: 1;
  }
  
.checkbox-wrapper-10.hiddens .tgl + .tgl-btn {
    opacity: 0;
  }


/* add an animation when changing width */
.recharts-wrapper {
    transition: width 0.5s ease-in-out; /* Smooth width change */
}

.statistics-type {
    display: flex;
    color: white;
    gap: 10px; /* Space between items */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    margin-left: 85px;
}

.statistics-button {
    flex: 1; /* Allow items to grow and shrink equally */
    text-align: center; /* Center text within items */
    min-width: 150px;
    background-color: #2d2d2d;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}
.statistics-button:hover {
    background-color: #444; /* Slightly lighter on hover */
    transform: scale(1.05);
}

.statistics-button:active {
    background-color: #1a1a1a; /* Even darker when clicked */
    transform: scale(0.98);
}

.statistics-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.statistics-holder p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.statistics-holder p:last-child {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFD700; /* Gold color for emphasis */
}

.statistics-holder:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

/* Chart styles */
.recharts-wrapper {
    margin-top: 1rem;
    border-radius: 10px;
}

/* Custom tooltip styling because the default one sucks and has whitespaces (!important! is to override) */
.recharts-default-tooltip {
    padding: 4px 8px !important;  /* Adjust padding */
    margin: 0 !important;         /* Adjust margin to fix whitespace */
    background-color: rgba(0, 0, 0, 0.8) !important;  /* Change background color */
    color: white !important;      /* Change text color */
    border-radius: 5px !important; /* Add rounded corners */
  }
  