@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*CSS For Navbar  */

/* Ensure proper box-sizing globally */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Sticky Navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Make navbar span the full width */
  background-color: #201F27;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  padding: 15px 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  font-size: 18px;
  z-index: 1000;
  overflow: hidden; /* Prevent overflow */
  max-height: 60px;
}

.navbar-child {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  gap: 15px;
  align-items: center;
}

.currency-item {
  display: flex;
  flex-direction: row;
  height: 20px;
  align-items: center;
}

/* Remove margin on body */
body {
  margin: 0;
  padding-top: 60px; /* Prevent content from being hidden behind navbar */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Style the links */
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffcc00;
}

/* Make navbar links responsive */
.navbar .nav-links {
  display: flex;
  justify-content: space-between;
}

.navbar .nav-links a {
  margin: 0 10px;
}

/* Hide navbar links by default on mobile */
.navbar .nav-links {
  display: flex;
}

.navbar .nav-links.mobile {
  display: none;
}

.navbar .hamburger {
  display: none;
}

/* Show hamburger menu icon on mobile */
@media screen and (max-width: 768px) {
  .navbar .nav-links {
    display: none; /* Hide links by default */
    flex-direction: column; /* Stack links vertically */
    width: 100%;
  }

  .navbar .nav-links.mobile {
    display: flex; /* Show links when toggled */
  }

  .navbar .hamburger {
    display: block; /* Show hamburger icon */
    cursor: pointer;
  }

  .navbar .hamburger div {
    width: 30px;
    height: 5px;
    margin: 6px 0;
    background-color: white;
  }
}

/*CSS For Settings */

.settings {
  transition: color 0.3s ease;
}

.settings:hover {
  cursor: pointer;
  color: #ffcc00;
  transition: color 0.3s ease;
}

.custom-time.hidden {
  display: none;
}

.tutorial-button {
  width: 40px;
  cursor: pointer;
}